html, body {
    margin: 0;
    height: 800px;
    margin: auto;
    align-items: center;
    
}
body {
    padding-top: 100px;
    background-color: rgba(0, 0, 0, 0.945);
}

.card {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: rgb(211, 206, 206);
    width: 50%;
    height: 20em;
    align-items: center;
    margin: auto;
    border-radius: 5px;
}

.column {
    margin: auto;
    height: auto;
    width: 50%;
    border-radius: 1em;
    border-width: 3em;
}

h3 {
        text-align: center;
        
}

p {
        text-align: center;
}

.g-signin2 {
    align-content: center;
    margin: 0px 60px;
}

button {
    
}

.btn {
    align-content: center;
    margin: 0px 12em;
    width: 150px;
    height: 40px;
    letter-spacing: .21px;
    padding: 0 16px;
    line-height: 0px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
    -webkit-box-shadow: 0 2px 4px 0px rgba(0,0,0,.25);
    cursor: pointer;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;

}

.image {
    width: auto;
    height: 100%;
}

.text{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Nunito', 'sans-serif'; 
    font-size: 16px;
    text-align: center;
    vertical-align: text-top;
}