<!-- <h1>Welcome!</h1>
/home/caio.fontanetti/Documentos/seriesGuide/src/app/home/home.component.scss
/assets/images/1.jpg
<p>aaaa</p>
<div class="g-signin2" data-width="230" data-height="50" data-longtitle="true" data-onsuccess="onSignIn"></div>
 -->



<!DOCTYPE html>
<html>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="/home/caio.fontanetti/Documentos/seriesGuide/src/app/home/home.component.scss">
<script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>

<head>
    <title>Início</title>


</head>

<body>

    <div class="container">
        <div class="container">
            <div id="slider">
                <figure>
                    <img src="/assets/images/w1.jpeg">
                    <img src="/assets/images/w2.jpg">
                    <img src="/assets/images/w3.jpg">
                    <img src="/assets/images/w4.jpg">
                </figure>
            </div>
            <div class="container-p">
                <h1> Olá, seja bem vindo</h1>
                <h2> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut semper dignissim ipsum, condimentum
                    vehicula mauris congue in. Ut fringilla, nulla quis eleifend lacinia, odio lacus porttitor tellus,
                    vel
                    consequat quam velit quis est. Aenean ullamcorper ornare felis in pulvinar. Donec vel est arcu. In
                    hac
                    habitasse platea dictumst. Praesent non vulputate massa. Nam bibendum, turpis at ultrices cursus,
                    turpis
                    risus condimentum orci, vel aliquet velit nulla non sem. Curabitur vestibulum interdum mauris, ac
                    accumsan dolor egestas laoreet. Sed sapien orci, pharetra id auctor sed, venenatis a massa. Aliquam
                    hendrerit, mi sed facilisis pretium, orci nisi sollicitudin lacus, a suscipit turpis est non lacus.
                    Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec in enim purus.</h2>
            </div>
        </div>
        <!-- Footer -->
        <div class="footer">
            <p>Powered by DextraEstags ®</p>
        </div>
    </div>



</body>

</html>





<!-- <div class="play-container">
    <p> You've clicked <span (click)="countClick()">this</span> {{ clickCounter }} times.</p>
</div>

<div class="play-container">
    <p>
        <input type="text" [(ngModel)]="name">
        <br>
        <strong>You said: </strong> {{ name }}
    </p>
</div>

<div class="play-container" [ngClass]="setClasses()">
    <ng-template [ngIf]="clickCounter > 4" [ngIfElse]="none">
        <p> The click counter is<strong> GREATER</strong> than 4.</p>
    </ng-template>
    <ng-template #none>
        <p> The click counter is<strong> NOT GREATER</strong> than 4.</p>
    </ng-template>
</div> -->