@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

* {
  box-sizing: border-box;
}

head {
  margin: 0;
}

h1{
  color: white;
  font-family: 'Nunito', 'sans-serif';
}

body{
    margin: 0;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.945);
    padding-top: 100px;
  }
  
  .container {
    justify-content: center;
    align-content: center;
    padding-top: 10px;
  }

  .container-p {
    padding-top: 50px;
    margin: 0px 300px;
    
    h1 {
      text-align: center;
    }
    h2 {
      text-align: center;
      color: white;
    }
  }

  .container-f {
    background-color: rgba(0, 0, 0, 0.445);
    width: auto;
    padding-top: 50px;
    margin: 0px 300px;
    align-content: center;
  }

  .footer {
    background-color: rgba(32, 31, 31, 0.884);
    padding-top: 6em;
    margin-top: 5em;
    position: flex;
    p {
      height: 2em;
      text-align: center;
      color: white;
    }
  }
  
  #slider{
    width: 1000px;
    height: 400px;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
  }
  #slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
  }
  #slider figure img {
    margin-bottom: 100%;
    position: static;
    width: 20%;
    height: 27em;
    float: left;
  }



 
  
  @keyframes slider {
    0% {
      left: 0;
    }
    20% {
      left: 0;
    }
    25% {
      left: -100%;
    }
    45% {
      left: -100%;
    }
    50% {
      left: -200%;
    }
    70% {
      left: -200%;
    }
    75% {
      left: -300%;
    }
    95% {
      left: -300%;
    }
    100% {
      left: -400%;
    }
  }
  